{% extends 'base.html.twig' %}

{% block title %}Chb Photo - Nouveau tarif{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/forms.css') }}">
{% endblock %}

{% block body %}
    <div class="glass-container return">
        <div class="glass-filter"></div>
        <div class="glass-overlay"></div>
        <div class="glass-specular"></div>
        <div class="glass-content">
            <a href="{{ path('app_profile') }}">{{ ux_icon('heroicons:arrow-uturn-left') }}</a>
        </div>
    </div>
    <div class="formulaire">
        <div class="glass-container form-container">
            <div class="glass-filter"></div>
            <div class="glass-overlay"></div>
            <div class="glass-specular"></div>
            <div class="glass-content form-content">
                <h1>Changer mon mot de passe</h1>

                {{ form_start(form) }}
                {{ form_row(form.currentPassword) }}
                {{ form_row(form.newPassword) }}

                <button class="btn btn-primary">Modifier</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
