{% extends 'base.html.twig' %}

{% block title %}Chb Photo - Nouveau tarif{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/forms.css') }}" data-turbo-track="reload">
    <link rel="stylesheet" href="{{ asset('styles/tab/formsTab.css') }}" data-turbo-track="reload">
    <link rel="stylesheet" href="{{ asset('styles/mobile/formsMobile.css') }}" data-turbo-track="reload">
{% endblock %}

{% block body %}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    <div class="formulaire">
        <div class="glass-container form-container">
            <div class="glass-filter"></div>
            <div class="glass-overlay"></div>
            <div class="glass-specular"></div>
            <div class="glass-content form-content">
                <h1>Contactez moi</h1>
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <button class="btn">{{ button_label|default('Envoyer') }}</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}