{% extends 'base.html.twig' %}

{% block title %}ChB Photo - Evenement{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/galeries.css') }}" data-turbo-track="reload">
    <link rel="stylesheet" href="{{ asset('styles/tab/galeriesTab.css') }}" data-turbo-track="reload">
    <link rel="stylesheet" href="{{ asset('styles/mobile/galeriesMobile.css') }}" data-turbo-track="reload">
{% endblock %}

{% block body %}
    <header class="event"></header>
    <div class="desc">
        <h2>Immortalisez l’instant</h2>
        <p>La célébration d’un événement est un moment unique qui mérite d'être vécu intensément. Je vous propose de vous libérer de la contrainte technique en me confiant la création de vos souvenirs, pour des images qui sauront restituer toute l'énergie et l'émotion de vos projets.

            <span class="retourLigne"> - <span class="bold">Un reportage sur mesure</span> : De la capture discrète des préparatifs à l'effervescence de la célébration finale, je m'adapte à l'envergure de votre événement et à vos attentes spécifiques.</span>

            <span class="retourLigne"> - <span class="bold">Une narration visuelle complète</span> : Des clichés spontanés pris sur le vif aux portraits plus posés, je vous offre un témoignage fidèle qui valorise aussi bien la réussite d'une organisation que la sincérité des échanges humains.</span>

            <span class="retourLigne"> - <span class="bold">Une présence tout en discrétion</span> : Que ce soit sur le terrain d'une compétition sportive ou dans l'intimité d'une fête de famille, je sais me faire oublier pour saisir les instants les plus naturels et authentiques.</span>

            <span class="retourLigne">Chaque événement est une page d'histoire. C'est pourquoi je prends le temps d'échanger avec vous pour comprendre le sens de votre rassemblement et définir ensemble une approche photographique qui saura faire revivre vos moments forts, année après année.</span></p>
    </div>
    <div class="galerie">
        <h2>Galerie photo</h2>
        <ul>
            {% for photo in galerie.photos %}
                <li>
                    <div class="photo-container">{{ ux_icon('heroicons:x-mark', {class:"croix"}) }}
                        <img src="{{ asset('img/' ~ photo.url) }}" alt="{{ photo.titre }}"/>
                        {{ photo.titre }}
                    </div>
                </li>
            {% else %}
                <li>Aucun message</li>
            {% endfor %}
        </ul>
    </div>
    <script src="{{ asset('js/photoZoom.js') }}"
            defer
            data-turbo-track="reload"></script>
{% endblock %}