{% extends 'base.html.twig' %}

{% block title %}ChB Photo - Objet{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/galeries.css') }}" data-turbo-track="reload">
    <link rel="stylesheet" href="{{ asset('styles/tab/galeriesTab.css') }}" data-turbo-track="reload">
    <link rel="stylesheet" href="{{ asset('styles/mobile/galeriesMobile.css') }}" data-turbo-track="reload">
{% endblock %}

{% block body %}
    <header class="objet"></header>
    <div class="desc">
        <h2>Une image vaut mille mots</h2>
        <p>Et pour vos produits, elle peut en valoir bien plus. Je vous propose de créer des visuels qui sauront capter l'attention et mettre en valeur toute la qualité et l'originalité de vos créations.

            <span class="retourLigne"> - <span class="bold">Des photos sur mesure</span> : De la simple photo de bouteille à la mise en scène la plus élaborée, je m'adapte à vos besoins et à votre budget.</span>

            <span class="retourLigne"> - <span class="bold">Une grande variété de styles</span> : Des clichés épurés et élégants aux ambiances plus naturelles et chaleureuses, je vous offre une palette créative infinie.</span>

            <span class="retourLigne"> - <span class="bold">Des prises de vue flexibles</span> : En studio ou sur votre lieu de production, je choisis le cadre le plus adapté pour mettre en valeur vos produits.</span>

            <span class="retourLigne center"> <span class="bold">Chaque projet est unique</span>.</span>
            <span class="retourLigne">C'est pourquoi je prends le temps d'échanger avec vous pour comprendre vos attentes et définir ensemble une stratégie visuelle qui vous ressemble.</span></p>
    </div>
    <div class="galerie">
        <h2>Galerie photo</h2>
        <ul>
            {% for photo in galerie.photos %}
                <li>
                    <div class="photo-container">
                        {{ ux_icon('heroicons:x-mark', {class:"croix"}) }}
                        <img src="{{ asset('img/' ~ photo.url) }}" alt="{{ photo.titre }}"/>
                        {{ photo.titre }}
                    </div>
                </li>
            {% else %}
                <li>Aucun message</li>
            {% endfor %}
        </ul>
    </div>
    <script src="{{ asset('js/photoZoom.js') }}"
            defer
            data-turbo-track="reload"></script>
{% endblock %}