{% extends 'base.html.twig' %}

{% block title %}Chb Photo - Nouveau tarif{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/forms.css') }}" data-turbo-track="reload">
    <link rel="stylesheet" href="{{ asset('styles/tab/formsTab.css') }}" data-turbo-track="reload">
    <link rel="stylesheet" href="{{ asset('styles/mobile/formsMobile.css') }}" data-turbo-track="reload">
{% endblock %}

{% block body %}
    <div class="glass-container return">
        <div class="glass-filter"></div>
        <div class="glass-overlay"></div>
        <div class="glass-specular"></div>
        <div class="glass-content">
            <a href="{{ path('app_admin_tarifs') }}">{{ ux_icon('heroicons:arrow-uturn-left') }}</a>
        </div>
    </div>
    <div class="formulaire">
        <div class="glass-container form-container">
            <div class="glass-filter"></div>
            <div class="glass-overlay"></div>
            <div class="glass-specular"></div>
            <div class="glass-content form-content">

                <h1>Ajouter un tarif</h1>
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <button class="btn">{{ button_label|default('Save') }}</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
