{% extends 'base.html.twig' %}

{% block title %}ChB Photo - Tarifs{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/tarifs.css') }}">{% endblock %}

{% block body %}
    <div class=" tarifs">
        <div class="glass-container tarifs-container">
            <div class="glass-filter"></div>
            <div class="glass-overlay"></div>
            <div class="glass-specular"></div>
            <div class="glass-content tarifs-content">
                <h2>Tarifs</h2>
                <a href="{{ path('app_admin_tarifs_new') }}">{{ ux_icon('heroicons:plus-circle') }}</a>
                <ul>
                    {% for tarif in tarifs %}
                        <li class="glass-container tarifsline-container">
                            <div class="glass-filter"></div>
                            <div class="glass-overlay"></div>
                            <div class="glass-specular"></div>
                            <div class="glass-content ">
                                {{ tarif.titre }} - {{ tarif.description }} - {{ tarif.prix }}€
                                <span>
                                    <a href="{{ path('app_admin_tarifs_edit', {id: tarif.id}) }}">{{ ux_icon('heroicons:pencil-square') }}</a>
                                </span>
                                <form method="post" action="{{ path('app_admin_tarifs_delete', {'id': tarif.id}) }}"
                                      onsubmit="return confirm('Êtes-vous sûr ?');">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tarif.id) }}">
                                    <button class="btn btn-danger">{{ ux_icon('heroicons:trash') }}</button>
                                </form>
                            </div>
                        </li>
                    {% else %}
                        <li>Aucun Tarifs</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}