{% extends 'base.html.twig' %}

{% block title %}ChB Photo - Dashboard{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/dashboard.css') }}">
{% endblock %}

{% block body %}
    <div class="glass-container return">
        <div class="glass-filter"></div>
        <div class="glass-overlay"></div>
        <div class="glass-specular"></div>
        <div class="glass-content">
            <a href="{{ path('app_admin_dashboard') }}">{{ ux_icon('heroicons:arrow-uturn-left') }}</a>
        </div>
    </div>
    <div class="convIndex">
        <div class="glass-container conv-container">
            <div class="glass-filter"></div>
            <div class="glass-overlay"></div>
            <div class="glass-specular"></div>
            <div class="glass-content conv-content">
                <h1>Liste des conversations</h1>
                <ul class="">
                    {% for conv in conversations %}
                        <li class="glass-container line-container">
                            <div class="glass-filter"></div>
                            <div class="glass-overlay"></div>
                            <div class="glass-specular"></div>
                            <div class="glass-content line-content">
                                <a href="{{ path('app_conversation_show', {'id': conv.id}) }}">{{ conv.idUser.nom }}
                                    - {{ conv.idUser.prenom }} - {{ conv.titre }}</a>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}