<nav class="glass-container">
    <div class="glass-filter"></div>
    <div class="glass-overlay"></div>
    <div class="glass-specular"></div>
    {{ ux_icon('heroicons:chevron-double-right') }}
    <div class="glass-content">
        <img src="{{ asset('img/Logo.png') }}" alt="Logo ChB Photography" class="logo" />
        <ul>
            <li><a href="{{ path('app_home') }}">Accueil</a></li>
            <li><a href="{{ path('app_home_sport') }}">Sport</a></li>
            <li><a href="{{ path('app_home_event') }}">Événements</a></li>
            <li><a href="{{ path('app_home_objet') }}">Objet</a></li>
            <li><a href="{{ path('app_home_tarifs') }}">Tarifs</a></li>
            <li><a href="{{ path('app_home_apropos') }}">À propos</a></li>
            <li><a href="">Contact</a></li>
            {% if app.user %}
                <li><a href="{{ path('app_profile') }}">Profile</a></li>
                <li><a href="{{ path('app_logout') }}">Déconnection</a></li>
            {% else %}
                <li><a href="{{ path('app_login') }}">Connexion</a></li>
                <li><a href="{{ path('app_register') }}">Inscription</a></li>
            {% endif %}
        </ul>
    </div>
</nav>